@import "tailwindcss";

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* #root {
    display: flex;
    justify-content: center;
    align-items: center;
} */